PORT=3000
SUPABASE_URL=https://zflsnmreucaimnrviakr.supabase.co/rest/v1/
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpmbHNubXJldWNhaW1ucnZpYWtyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDQ4ODYyMywiZXhwIjoyMDk2MDY0NjIzfQ.wiDkXbSxx48tawCSL0SvvRKjG1-EKCn6chXH5PmT-LE
SUPABASE_SERVICE_KEY=
SUPABASE_JWT_SECRET=alHoxrwbpuiBJWU4KAemMENVb0mzUJY8iZPURsJ6pTDW8kTZKVNnzgd8hRrI2Dff0ZBoOB7QyrlIeBLE8mC5LA==
API_FOOTBALL_KEY=
FOOTBALL_DATA_TOKEN=abf9ef73c1ad4e21a54228cbb3ffd367
