EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_BACKEND_URL=https://your-backend.onrender.com
EXPO_PUBLIC_PASSWORD_RESET_REDIRECT_URL=prode-grupo-nucleo://reset-password
EXPO_PUBLIC_EAS_PROJECT_ID=
